
<md-tabs md-selected="notebook.selectedIndex" md-border-bottom md-autoselect flex>
    <md-tab ng-repeat="note in notebook.notes">
        <md-tab-label>{{note.name}}</md-tab-label>
        <md-tab-body>
            <md-content layout-fill layout="column">
                <textarea layout-padding ng-model="note.text" flex ng-change="notebook.saveChange()"></textarea>
            </md-content>
        </md-tab-body>
    </md-tab>
</md-tabs>
<div class="actions-fab">
    <md-fab-speed-dial md-direction="left" class="md-fling">
        <md-fab-trigger>
            <md-button aria-label="Options" class="md-fab md-accent md-mini">
                <md-icon class="mdi mdi-menu"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button class="md-fab md-raised md-mini" aria-label="Create new note" ng-click="notebook.addNote($event)">
                <md-tooltip md-direction="top">New note</md-tooltip>
                <md-icon class="mdi mdi-note-plus"></md-icon>
            </md-button>
            <md-button class="md-fab md-raised md-mini" aria-label="Rename note" ng-click="notebook.renameNoteDialog($event, notebook.selectedIndex)">
                <md-tooltip md-direction="top">Rename note</md-tooltip>
                <md-icon class="mdi mdi-pen"></md-icon>
            </md-button>
            <md-button class="md-fab md-raised md-mini" aria-label="Delete note" ng-click="notebook.confirmDelete($event, notebook.selectedIndex)" ng-disabled="notebook.notes.length <= 1">
                <md-tooltip md-direction="top">Delete note</md-tooltip>
                <md-icon class="mdi mdi-delete"></md-icon>
            </md-button>
            <md-button class="md-fab md-raised md-mini" aria-label="More options" ng-click="framework.moreOptions($event)">
                <md-tooltip md-direction="top">More options</md-tooltip>
                <md-icon class="mdi mdi-dots-horizontal"></md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>
