
textarea:focus {
    outline: brown auto 5px;
}
md-fab-speed-dial .md-fab:hover, .md-fab-speed-dial md-fab.md-focused {
    background-color: #333 !important;
}
.md-fab md-icon {
    color: #666 !important;
}
